POSTGRES_DB=loadout_queue
POSTGRES_USER=loadout
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
API_PORT=8080
JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
FRONTEND_BASE_URL=http://localhost:5173
RESEND_API_KEY=re_replace-with-your-resend-api-key
RESEND_FROM_ADDRESS=no-reply@sur-tec.com.ar
